<nav class="navbar navbar-expand-lg bg-dark navbar-dark px-3 shadow-sm py-2">
  <a class="navbar-brand text-white fw-bold me-5" routerLink="/home">Todo List</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-4">
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex flex-column align-items-center" aria-current="page" routerLinkActive="iconActive" routerLink="/home">
            <i class="bi bi-house-door-fill mb-1 fs-5"></i>
            Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex flex-column align-items-center" routerLinkActive="iconActive" routerLink="/todo">
            <i class="bi bi-list-task mb-1 fs-5"></i>
            Todo List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex flex-column align-items-center" aria-current="page" routerLinkActive="iconActive" routerLink="/contactUs">
            <i class="bi bi-telephone-fill mb-1 fs-5"></i>
            Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex flex-column align-items-center" routerLinkActive="iconActive" routerLink="/aboutus">
            <i class="bi bi-person-badge-fill mb-1 fs-5"></i>
            About Us
        </a>
      </li>
    </ul>
  </div>
</nav>