a {
  text-decoration: none;
}

.nav-link {
  font-size: 0.85rem;
  letter-spacing: 0.3px;
  &.iconActive {
    color: #0d6efd !important;
    i {
      color: #0d6efd !important;
    }
  }
}

.navbar-brand {
  font-size: 1.2rem;
}